
    <div class="row p-3">
      <div class="col-sm-12  m-w p-1 col-md-12 col-lg-6 col-xl-4">
        <app-boat-card></app-boat-card>
      </div>
      <div class="col-sm-12  m-w p-1 col-md-12 col-lg-6 col-xl-4">
        <app-boat-card></app-boat-card>
      </div>
      <div class="col-sm-12  m-w p-1 col-md-12 col-lg-6 col-xl-4">
        <app-boat-card></app-boat-card>
      </div>
      <div class="col-sm-12  m-w p-1 col-md-12 col-lg-6 col-xl-4">
        <app-boat-card></app-boat-card>
      </div>
      <!-- card informative -->
      <div class="col-sm-12  m-w p-1 col-md-12 col-lg-6 col-xl-4">
        <div #card class="card card-contact h-100 p-2 w-100 mb-3">

          <img src="./assets/Isotipo.png" alt="" width="80%" class="mt-5 mb-5 m-auto  " >
          <h5 class="text-center f-z13 font-book mt-4 gray-text-color mb-3">YACHTISSIMO</h5>

          <p class="text-center f-z10 font-italic gray-text-color mb-3" >has a team ready to find the perfect experience <br>
             for you; we have over 20,000 different options for you 
             <br> <br>
             Contact us today to find the perfect yacht
          </p>

          <button class="btn pb-3 pt-3  btn-block btn-dark">
            <span class=" gray-text-color f-z23">Contact Us</span>
          </button>
        </div>
      </div>
      
      <div class="col-sm-12  m-w p-1 col-md-12 col-lg-6 col-xl-4">
        <app-boat-card class="m-w "></app-boat-card>
      </div>


    </div>
