@import './../../../../../styles'

.card
    border-radius: 0px!important    

.container-top
    border-bottom: 1px solid $secondary-color
    padding-bottom: 10px

.container-top .other-options
    border-left: 1px solid $secondary-color


.carousel-control-prev-icon,
.carousel-control-next-icon
    background-color: $white-color
    height: 27px
    width: 30px
    outline: black
    background-size: 100%, 100%
    border-radius: 50px 0px 0px 50px
    background-image: none

.carousel-control-next-icon
    border-radius: 0px 50px 50px 0px

.carousel-control-next-icon:after

    content: '>'
    font-size: 19px
    color: $primary-color


.carousel-control-prev-icon:after
    content: '<'
    font-size: 19px
    color: $secondary-color

.carousel-control-prev,
.carousel-control-next
    align-items: flex-end
    bottom: 5px
a.carousel-control-prev
    left: 300px
    margin-left: 0

.msg
    margin-left: 10px
.more-info
    background-color: #000
    border-radius: 50px
    color: $white-color
    font-size: 7pt
    padding: 2px
    height: 15px
    width: 15px

.scuba img ,.diamont img ,.video img,.msg img
    @include mobile
        max-height: 14px
        margin-left: 5px
    @include desktop
        max-height:15px
        margin-left: 10px
    @include desktopLarge
        max-height: 19px
        margin-left: 6px

.share img , .favorite img ,.compare img
    @include mobile
        max-height: 14px
        margin-left: 7px
    @include desktop
        max-height:16px
        margin-left: 10px
    @include desktopLarge
        max-height: 19px
        margin-left: 6px


.star img
    width: 14px
    height: 14px
    margin:2px
    @include mobile
       max-height: 12px
