<section class="container-fluid">
    <div class="row p-2">
        <div class="col">
        <h2 class="f-z13 mb-0 font-book">BREAKFAST</h2>
        <p class="mt-0">
          -Fresh Local Fruits, Yoghurts, Smoothies and Cereals. <br>
          -Banana/Blueberry Pancakes or Waffles w/Homemade Hollandaise, Dill sour Cream/Smoked Salmon/Caper OR  <br>
            Seared
            Vegetables,Bacon & Avocados <br>
            -Banana/Blueberry Pancakes or Waffles w/Homemade Hollandaise, Dill sour Cream/Smoked Salmon/Caper OR  <br>
        </p>

        <h2 class="f-z13 mb-0 font-book">LAUNCH</h2>
        <p class="mt-0">
          -Fresh Local Fruits, Yoghurts, Smoothies and Cereals. <br>
          -Banana/Blueberry Pancakes or Waffles w/Homemade Hollandaise, Dill sour Cream/Smoked Salmon/Caper OR  <br>
            Seared
            Vegetables,Bacon & Avocados <br>
            -Banana/Blueberry Pancakes or Waffles w/Homemade Hollandaise, Dill sour Cream/Smoked Salmon/Caper OR  <br>
        </p>
        <button class="btn-dark btn"> <span >EXPAND <i class=" pl-2 fa fa-angle-down"></i> </span> </button>
        </div>
    </div>

</section>
<app-testimonial></app-testimonial>