 
<footer >
    <div  class=" content-father">
        <div class="background">    
            <div   class="footer-container " >
                <div class=" mb-1 cyba font-book mr-3  text-right" >
                    <!-- <div class="d-block">
                        <h3 class="mb-2">CYBA</h3> <br>

                    </div>
                    <div class="d-block" >
                        <p class=" f-z19 white-text-color" >
                                {{'footer-cyba' |translate}}
                        </p>

                    </div> -->

                    <div class="row font-book text-light ">
                        <div class="col-md-3 col-lg-3 col-0"></div>
                        <div class="col-md-6 col-lg-5 col-4"> </div>
                        <div class="col-md-3 col-lg-4  col-8 f-z19">
                            <h3 class="mb-2">CYBA</h3> <br>
                            <p class=" f-z19 white-text-color" >
                                {{'footer-cyba' |translate}}
                        </p>
                        </div>
                    </div>

                </div>
                <div class="mt-6 container-fluid">
                    <div class="row font-book gray-text-color ">
                        <div class="col-md-1 col-lg-3 col-0"></div>
                        <div class="col-md-7 col-lg-6 f-z19 col-6 text-center ">
                            <span>All Yachts</span>
                        </div>
                        <div class="col-md-4 col-lg-3 text-right  col-6 f-z19">
                            
                             <h4 >YACHTISSIMO 2021 </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-options">
            <div class="content-footer" class="container-fluid" > 
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="about mt-2 p-5  ">
                            <p class=" justify-content font-book" >
                                {{'footer-about' | translate}}
                            </p>
            
                            <div class="row mt-5">
                                <div class="col-10">
                                    <input type="text" 
                                    class="fz-8 font-book p-3 w-100 i-email" 
                                    [placeholder]="'footer-abinput' | translate">
                                </div>
                                <div class="col-2 p-0">
                                    <button class="btn fz-8 btn-go white-text-color font-book">GO</button>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-12">
                     <div class="row ">
                         <div class="col-6 ">
                            <h4 class="font-medium mb-3 mt-3 f-z13">{{'footer-ex-title' | translate}}</h4>
                            <ul class="font-book f-z13 p-0">
                                <li> {{'footer-ex-item1' | translate}} </li>
                                <li> {{'footer-ex-item2' | translate}} </li>
                                <li> {{'footer-ex-item3' | translate}} </li>
                                <li> {{'footer-ex-item4' | translate}} </li>
                                <li> {{'footer-ex-item5' | translate}} </li>
                                <li> {{'footer-ex-item6' | translate}} </li>
                                <li> {{'footer-ex-item7' | translate}} </li>
                                <li> {{'footer-ex-item8' | translate}} </li>
                                <li> {{'footer-ex-item9' | translate}} </li>
                            </ul>
                         </div>
                         <div class="col-6">
                            <h4 class="font-medium mb-3 mt-3 f-z13">{{'footer-sea-title' | translate}}</h4>
                            <ul class="font-book f-z13 p-0">
                                <li> {{'footer-sea-item1' | translate}} </li>
                                <li> {{'footer-sea-item2' | translate}} </li>
                                <li> {{'footer-sea-item3' | translate}} </li>
                                <li> {{'footer-sea-item4' | translate}} </li>
                                <li> {{'footer-sea-item5' | translate}} </li>
                                <li> {{'footer-sea-item6' | translate}} </li>
                                <li> {{'footer-sea-item7' | translate}} </li>
                                <li> {{'footer-sea-item8' | translate}} </li>
                                <li> {{'footer-sea-item9' | translate}} </li>
                            </ul>
                         </div>
                     </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 contact-section">
                        <h4 class="font-medium f-z13 mb-3 mt-3">{{'footer-social-title' | translate}}</h4>
                            <ul class="font-book mb-3 f-z13 p-0">
                                <li> USA  <span class="pl-3"> +1.954.688.3990 </span> </li>
                                <li> GER  <span class="pl-3"> +49.172.814.1319 </span> </li>
                                <li> info@yachtissimo.com </li>
                                <li> WhatsApp <span class="pl-3"> +49.172.814.1319 </span></li>
                                <li> Telegram <span class="pl-3"> +49.172.814.1319 </span></li>
                            </ul>
                            <div class="text-center">
                                <nav class="nav mt-5 d-flex justify-content-center w-100">
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Facebook.png" alt="facebook"></a>
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Twitter.png" alt="twitter"></a>
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Youtube.png" alt="youtube"></a>
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Linkedin.png" alt="linkedin"></a>
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Snapchat.png" alt="snapchat"></a>
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Pinterest.png" alt="pinteres"></a>
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Instagram.png" alt="snapchat"></a>
                                    <a class="nav-link p-2" ><img src="../../../../assets/Redes sociales/Tik tok.png" alt="tiktok"></a>
                                </nav>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


  