<h2 class="font-book text-center title-why f-z25">WHY CHARTER WITH US?</h2>
<h4 class="font-book text-center m-0 hastag" >#I<img class="m-0 p-0" src="../../../../../assets/Box/Added to favourite.png" width="25px" >MYCHARTERBROKER </h4>
<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6 pt-5 pb-5 d-flex col-left">
        <ul class="list-group">
            <li class="f-z20 l-1 font-book"> Personalized solutions </li>
            <li class="f-z20 l-2 font-book"> 10+ years of experience in yacht charters </li>
            <li class="f-z20 l-3 font-book"> Fast quotes and contract espertise </li>
            <li class="f-z20 l-4 font-book"> CYBA certified yacht charter brokers </li>
            <li class="f-z20 l-5 font-book"> The best possible value for money </li>
        </ul>
    </div>
    <div class="col-md-6 pt-5 pb-5 col-right d-flex ">
        <ul class="list-group">
            <li class="f-z20 l-6 font-book"> Yacht inspection and crew interview </li>
            <li class="f-z20 l-7 font-book"> One-stop-shop booking assistance </li>
            <li class="f-z20 l-8 font-book"> Solid registered company </li>
            <li class="f-z20 l-9 font-book"> Professional unbiased advice </li>
            <li class="f-z20 l-10 font-book"> Access to every crewed yacht</li>
        </ul>
    </div>
</div>