@import './../../../../../styles'

.btn-delete-filter
    border: 2px solid $secondary-color
    border-radius: 0px
    padding: 10px
.btn-filter, .btn-filter-advance
    background: $secondary-color
    border: 2px solid $secondary-color
    border-radius: 0px
    color: $white-color
    padding: 10px
.brand
    border-bottom: 3px solid $secondary-text-color

.icon
    max-width: 12px
    color: $secondary-text-color

.input-icon
    position: relative
    border-bottom: 1px solid $secondary-text-color
    img
        position: absolute
        top: 5px
        right: 20px
        max-width: 20px
.search
    padding-left: 10px
    border: none
    font-family: 'gothamrounded-book', sans-serif
    font-size: 8pt
    padding-bottom: 8px
    outline: none
    max-width: 300px!important


.date-picker input
    border: none
    border-radius: 0px!important
    border-bottom: 1px solid $secondary-text-color!important
    font-size: 8pt
    font-family: 'gothamrounded-book', sans-serif
.section-content
    border-bottom: 1px solid $secondary-color
    color: $dark-color
    font-family: 'gothamrounded-medium', sans-serif
    font-size: 8pt

.range-container input
    -color: $secondary-color

.range-container label
    color: $dark-color
    font-family: 'gothamrounded-medium', sans-serif
    font-size: 9pt

ul li
    list-style: none
    label img
        max-height: 18px
        max-width: 18px
        margin-right: 10px

.gradiant
    background: linear-gradient(to left,#b4837b, #e2d3ce, #b4837b)

.form-check-input
    height: 10px
    margin-top: 10px

