@import './../../../../../styles'

.btn-delete-filter
    border:2px solid $secondary-color
    border-radius: 0px
    padding: 10px
.btn-filter
    background: $secondary-color
    border:2px solid $secondary-color
    border-radius: 0px
    color: $white-color
    padding: 10px


.search
    border: none
    border-bottom: 1px solid $secondary-color
    color: $secondary-color
    font-family: 'gothamrounded-book', sans-serif
    font-size: 9pt
    padding-bottom: 8px
.date-picker input
    font-size: 10pt
    font-family: 'gothamrounded-book', sans-serif
.section-content
    border-bottom: 1px solid $secondary-color
    color: $dark-color
    font-family: 'gothamrounded-medium', sans-serif
    font-size: 9pt

.range-container input
    -color: $secondary-color

.range-container label
    color: $dark-color
    font-family: 'gothamrounded-medium', sans-serif
    font-size: 9pt

ul li
    list-style: none
    label img
        max-height: 18px
        max-width:  18px
        margin-right:10px

.gradiant
    background:  linear-gradient(to left,#b4837b, #e2d3ce, #b4837b)

.form-check-input
    height: 10px
    margin-top: 10px