@import './../../../../../styles'

.container-fluid
    padding: 30px !important 
    @include mobile
        padding: 15px !important 
        
    
.table
    tr,th,td
        @include font-book
        @include f-z10
        border-bottom: 1px solid $secondary-color
        border-top: 1px solid $secondary-color
        

        
