
<section >
    
    <div class="p-auto">

        <p class="f-z13 font-book p-2 mb-4 m-0 ">
           The pricess shown are for the entire yacht for a week-long (7 nights) charter. Inquire 
           for lowest rate.
           <br>

            Low price: $25,500 (normal rate)
            <br>
            High price: $29,500 (normal rate)
        </p>
        <table class="table table-hover  table-responsive-md">
            <thead>
              <tr>
                <th scope="col">SEASON</th>
                <th scope="col">2 PAX</th>
                <th scope="col">3 PAX</th>
                <th scope="col">4 PAX </th>
                <th scope="col">5 PAX</th>
                <th scope="col">6 PAX</th>
                <th scope="col">7 PAX</th>
                <th scope="col">8 PAX</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2021 Summer</td>
                <td>$26,000</td>
                <td>$26,500</td>
                <td>$27,000</td>
                <td>$27,500</td>
                <td>$28,000</td>
                <td>$28,750</td>
                <td>$29,500</td>
              </tr>
              <tr>
                <td>2021/22 Winter</td>
                <td >$26,000</td>
                <td>$26,500</td>
                <td>$27,000</td>
                <td>$27,500</td>
                <td>$28,000</td>
                <td>$28,750</td>
                <td>$29,500</td>
              </tr>
              <tr>
                <td>2022 Summer</td>
                <td>$26,000</td>
                <td>$26,500</td>
                <td>$27,000</td>
                <td>$27,500</td>
                <td>$28,000</td>
                <td>$28,750</td>
                <td>$29,500</td>
              </tr>
              <tr>
                <td>2021 Summer</td>
                <td>$26,000</td>
                <td>$26,500</td>
                <td>$27,000</td>
                <td>$27,500</td>
                <td>$28,000</td>
                <td>$28,750</td>
                <td>$29,500</td>
              </tr>           
            </tbody>
        </table>

        <p class="f-z13 font-book p-2 mt-5 ">
            Yacht terms: All Inclusive* <br>
            *Cruising Permits, Fees and Taxes to be paid by Charterer upon 
            entry to Crusing Grounds or Ports for all locations. Please inquire about rates and customary fees.<br>
            An all-inclusive charter covers all provisioning and running expenses. This includes a captain and crew that is fully
            trained and committed to your safety and enjoyment of your trip. A chef will provide the kind of exceptional,
            personalized meal preparation that your would expect of a five-star restaurant. the listed rate may not include all
            local taxes, cruising permints, premium beverages and scuba activities. Inquire for more information.
            <br> <br>
            We are looking forward to seeing you soon!    
        
        </p>
      <!-- types of calendar -->
  
  
      <h5 class="f-z23 mt-4 font-book">CALENDAR</h5>
      <hr>
      <ul class="nav  nav-tabs mt-3  mb-4">
      <li class="nav-item">
        <a class="nav-link f-z13 font-book active "  >
          <img src="./../../../../../assets/iconos/generales/Calendario.png" alt="">
            CALENDAR
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link f-z13 font-book "  >
          <img src="./../../../../../assets/iconos/generales/Calendario.png" alt="">
            GRAPHICAL
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link f-z13 font-book "  >
          <img src="./../../../../../assets/iconos/generales/Calendario.png" alt="">
          LIST 
        </a>
      </li>
      </ul>
</div>
  </section>
  
      <!-- seccion of card boat card  -->
      <app-carousel-boats></app-carousel-boats>
  
      <!-- seccion of testimonial -->
      <app-testimonial> </app-testimonial>