

<h6 class="font-book f-z23  text-center mt-5 mb-5"> <span class="f-z25 font-book">|</span> FEATURED LUXURY YACHT</h6>


<ngx-slick-carousel   [config]="slideConfig">
      <div ngxSlickItem class="slide p-1"  >
        <app-boat-card></app-boat-card>
      </div>
      <div ngxSlickItem class="slide p-1"  >
        <app-boat-card></app-boat-card>
      </div>
      <div ngxSlickItem class="slide p-1"  >
        <app-boat-card></app-boat-card>
      </div>
      <div ngxSlickItem class="slide p-1"  >
        <app-boat-card></app-boat-card>
      </div>    
</ngx-slick-carousel>

