
<div class="container-fluid filter-content  pb-2">
    <div class="row">
        <div class=" col-xl-10">
            <ul class="nabvar nav filters ">
                <span class="search-r nav-link nav-item">8,0000 result found</span>
                <li class="nav-item ">  
                  <a><span> <img class="icon" src="./../../../../../assets/Header/Delete.png" alt="delete"></span> BAHAMAS </a>
                </li>
                <li class="nav-item">
                  <a ><span> <img class="icon" src="./../../../../../assets/Header/Delete.png" alt="delete"></span> WEST MEDITERRANEAN</a>
                </li>
                <li class="nav-item">
                    <a ><span><img class="icon" src="./../../../../../assets/Header/Delete.png" alt="delete"></span>23-30 M</a>
                </li>
                <li class="nav-item">
                    <a ><span> <img class="icon" src="./../../../../../assets/Header/Delete.png" alt="delete"></span>ALL YACHTS</a>
                </li>
                <button class=" btn-reset">RESET ALL FILTERS </button>
            </ul>
        </div>
        <div class="text-center col-xl-2">
            <button class="btn-order-by"  type="button" id="dropdownMenuButton"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ORDER BY </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>
