@import './../../../../../styles.sass'
.btn-order-by , .btn-filter-advance
    border: 2px solid $primary-color
    background-color: $white-color
    color: $secondary-text-color
    font-family: 'gothamrounded-book', sans-serif
    font-size: 8pt
    padding: 10px
    width: 150px
    margin: 3px
    &:hover
        background-color: $primary-color
        color: $white-color
.btn-reset
    background-color: $secondary-color
    color: $white-color
    font-family: 'gothamrounded-book', sans-serif
    font-size: 8pt
    padding: 6px
    border: none
    margin: 5px

.input-icon
    position: relative
    border-bottom: 1px solid $secondary-text-color
    margin-bottom: 20px
    max-width: 500px!important
    img
        position: absolute
        top: 12px
        right: 20px
        max-width: 20px
.search
    padding-left: 10px
    border: none
    font-family: 'gothamrounded-book', sans-serif
    font-size: 8pt
    padding-bottom: 8px
    outline: none
    max-width: 300px!important
    width: 100%


.col-6
    background-color: #000

.filters li
    border: 2px solid $secondary-color
    background-color: $white-color
    color: $secondary-color!important
    font-family: 'gothamrounded-book', sans-serif
    padding: 10px
    font-size: 8pt
    margin: 5px
li
    span
        font-size: 10 px
        margin-right: 10px
    a
        margin: 10px

.filter-content
    border-bottom: 2px solid $primary-color
    border-radius: 0px
    margin-top: 50px
    width: 98%

.search-r
    color: $dark-color
    font-family: 'gothamrounded-book', sans-serif
    font-size: 8pt
    margin: 10px

.icon
    max-width: 12px
    color: $secondary-text-color
