

    <img src="../ ../../../../assets/Imagenes/Banner temporal.png" width="100%" srcset="">


<div class="row d-flex mt-5 p-2">
    <div class="col-md-2 col-4 p-0"><img src="../../../../../assets/Instagram/Image 1.png" width="100%"></div>
    <div class="col-md-2 col-4 p-0"><img src="../../../../../assets/Instagram/Image 2.png" width="100%"></div>
    <div class="col-md-2 col-4 p-0"><img src="../../../../../assets/Instagram/Image 3.png" width="100%"></div>
    <div class="col-md-2 col-4 p-0"><img src="../../../../../assets/Instagram/Image 4.png" width="100%"></div>
    <div class="col-md-2 col-4 p-0">
        <div class="d-flex follow justify-content-start align-items-center">
            <div class="follow-content  m-0">
                <p class="font-italic m-0 f-z25">Follow Us</p>
                <hr class="m-0">
            </div>
        </div>
    </div>

</div>