<app-filter  [filterB] = "hideFilter" (closeFilter)="hideFilter = $event"  ></app-filter>

<!-- <button class="btn btn-primary mt-3 mb-3" 
        type="button" data-toggle="collapse"  
   
        (click)="hideFilter = !hideFilter"  
        aria-expanded="false" 
        aria-controls="multiCollapseExample1">
         Toggle both elements
        </button>
  -->

<div class="container-fluid">

    <div class="row d-father">
      <div class="p-0  f-advance" [hidden]="hideFilter" >
        <app-filter-advance [filterB] = "hideFilter" (close)="hideFilter = $event"></app-filter-advance>
      </div>
      <div  class="col boats">
        <app-boats ></app-boats>
      </div>
    </div>
 

        <app-books ></app-books>
  
        <app-plus ></app-plus>

        <app-social ></app-social>
      
    

</div>      