@import './../../../styles'
.filter-advance
    box-shadow: 1px -2px 13px 4px rgba(207,207,207,1)
    -webkit-box-shadow: 1px -2px 13px 4px rgba(207,207,207,1)
    -moz-box-shadow: 1px -2px 13px 4px rgba(207,207,207,1)
.card-boats
    width: 700px


