<app-filter  [filterB] = "hideFilter" (closeFilter)="hideFilter = $event"  ></app-filter>

<!-- <button class="btn btn-primary mt-3 mb-3" 
        type="button" data-toggle="collapse"  
   
        (click)="hideFilter = !hideFilter"  
        aria-expanded="false" 
        aria-controls="multiCollapseExample1">
         Toggle both elements
        </button>
  -->

<div class="container-fluid">

  <div class="row">
    <div class="p-0  f-advance" [hidden]="hideFilter" >
      <div class=" filter-advance" id="multiCollapseExample1">
      <app-filter-advance [filterB] = "hideFilter" (close)="hideFilter = $event"></app-filter-advance>
      </div>
    </div>
    <div  class="col">
      
              <app-boats ></app-boats>
         


          <app-books></app-books>
          
    </div>
  </div>

  <app-plus></app-plus>
  <app-social></app-social>

</div>      