@import './../../../../styles.sass'


.form-company input,.form-company textarea
    border-radius: 0px
    border: 1px solid $dark-color
.form-company button
    border-radius: 0px
    background-color: $dark-color
img
    max-height: 250px
.icon
    max-height: 18px
    color: $secondary-text-color

.navbar-light .navbar-toggler
    border: none !important

.menu
    border-bottom: 2px solid $secondary-text-color
    width: 100%
.menu li
    cursor: pointer
    margin-right: 35px
    margin-left: 35px
    a
        color: $title-text-color
        font-size: 10pt
        padding-top: 15px
        padding-bottom: 15px
        &:hover
            color: $primary-color

.selected
    background-color: $secondary-color

.phone-number span
    color: $secondary-text-color
    font-family: 'gothamrounded-book', sans-serif
    font-size: 10pt
    padding-right: 70px
    justify-content: start!important
.title
    font-family: 'gothamrounded-book', sans-serif

.navbar-brand
    margin-right: 0px

@media (max-width: 992px)
    .phone-number
        justify-content: center
        span
            font-size: 8pt
            padding-right: 30px
    .menu li
        margin-left: 5px
        margin-right: 5px
    .hidden
        visibility: hidden
        width: 0px
        height: 0px


.megamenu
    position: static


.megamenu .dropdown-menu
    background: none
    border: none
    width: 100% !important
li
    margin: 0px
    border: none
    @include font-book
    
.list-group li
    &:last-child
        color: $primary-color 
    img
        display: none
    &:hover
        @include font-medium
        i
            display: none
        img
            display: inline

.dark-color
    color: $dark-color!important

        



i
    color: $secondary-color
    
.arrow-icon
    max-height: 18px

body .slick-prev, 
body .slick-next
    height: 45px
    width: 40px

.slick-slider
    width: 93%
    // max-width: 300px
    margin: auto
    @media only screen and (max-width: 960px)
        max-width:700px

    @media only screen and (max-width: 700px)
        max-width:550px

    @media only screen and (max-width: 600px)
        max-width:450px

    @media only screen and (max-width: 500px)
        max-width:300px

    @media only screen and (max-width: 400px)
        max-width:260px
    @media only screen and (max-width: 300px)
        max-width:250px

  
  
body .slick-prev, body .slick-next
    height: 50px
    width: 50px
    background: dark !important
    z-index: 100




