@import './../../../../../styles'
.card-about
    border: 0.13rem solid $dark-color
    h3
        color: $dark-color 
    input,select
        border-radius: 0px  
        border: 0.13rem solid $dark-color 

.container-top
    border-bottom: 1px solid $secondary-color
    padding-bottom: 10px

.container-top .other-options
    border-left: 1px solid $secondary-color


.carousel-control-prev-icon,
.carousel-control-next-icon
    background-image: none

.carousel-control-next-icon:after
    content: '>'
    font-weight: 700
    font-size: 60px
    color: $white-color
    @include mobile
        font-size: 40px


.carousel-control-prev-icon:after
    content: '<'
    font-weight: 700
    font-size: 60px
    color: $white-color
    @include mobile
        font-size: 40px

.carousel-control-prev,
.carousel-control-next
    align-items: flex-end
    bottom: 70px
    @include mobile
        bottom: 40px

a.carousel-control-prev
    left: calc( 100% - 200px  )!important
    margin-left: 0
    @include mobile
        left: calc( 100% - 100px  )!important
.details-card
    color: $secondary-color

.msg
    margin-left: 10px
.more-info
    background-color: #000
    border-radius: 50px
    color: $white-color
    font-size: 7pt
    padding: 2px
    height: 15px
    width: 15px

.scuba img ,.diamont img ,.video img,.msg img
    max-height: 18px
    margin-left: 8px
    @include mobile
        max-height: 18px
        margin-left: 5px

    @include desktopLarge
        max-height: 19px
        margin-left: 6px

.share img , .favorite img ,.compare img
    max-height: 20px
    margin-left: 8px
    @include mobile
        max-height: 18px
        margin-left: 7px
    @include desktopLarge
        max-height: 22px
        margin-left: 6px


.star img
    width: 16px
    height: 16px
    margin:2px
    @include mobile
       max-height: 18px