@import './../../../../../styles'
.card
    border-radius: 0px!important
    


.accordion>.card>.card-header
    background-color: transparent !important
    border: 0px
    border-bottom: 3px solid $dark-color 

.accordion>.card
    border: 0px

.accordion button
    background-color: transparent
    border: 0px
.bb
    border-bottom: 1px solid $dark-color
    
p
    margin: 7px !important


[data-toggle="collapse"] i:before
    content: "\f106"
    background-color: transparent !important

[data-toggle="collapse"].collapsed i:before
    content: "\f107"
    background-color: transparent !important

