
 
  
    <app-crew-profile></app-crew-profile>
    <!-- acordion options collapse -->
    <section class="p-auto">
      <div class="accordion " id="accordionExample">
        <div class="card ">
          <div class="card-header " id="headingOne">
            <h2 class="mb-0">
              <button class=" f-z13 font-medium btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                
                <span class="m-0 f-z13 d-flex justify-content-between"> CRUSSING AREA OF ALICE 
                  <li class="fa fa-angle-down fa-2x"></li>
               </span> 
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse items-collapse show p-3" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class=" bb d-flex justify-content-between">
              <p class="f-z13 font-book">tag for this label</p>   
              <span class="f-z13 font-book">value</span>
            </div>
            <div class=" bb d-flex justify-content-between">
              <p class="f-z13 font-book">tag for this label</p>   
              <span class="f-z13 font-book">value</span>
            </div>
            <div class=" bb d-flex justify-content-between">
              <p class="f-z13 font-book">tag for this label</p>   
              <span class="f-z13 font-book">value</span>
            </div>
            <div class="d-flex justify-content-between">
              <p class="f-z13 font-book">tag for this label</p>   
              <span class="f-z13 font-book">value</span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="m-0">
              <button class="m-0   font-medium btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="m-0 f-z13 d-flex justify-content-between"> SPECIFICATIONS 
                   <li class="fa fa-angle-down fa-2x"></li>
                </span>  
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="row">
              <div class="col-md-3">
                <div class=" bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Length</p>   
                  <span class="m-2 f-z13 font-book">56 Feet</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Built</p>   
                  <span class="m-2 f-z13 font-book">2015</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Sun Awaing</p>   
                  <span class="m-2 f-z13 font-book">Yes</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Bimini Top</p>   
                  <span class="m-2 f-z13 font-book">Yes</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Num Hatch</p>   
                  <span class="m-2 f-z13 font-book">2+ per cab</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Min Child Age</p>   
                  <span class="m-2 f-z13 font-book">None</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Water Maker</p>   
                  <span class="m-2 f-z13 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Generator</p>   
                  <span class="m-2 f-z13 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Turnaround</p>   
                  <span class=" m-2 f-z13 font-book">48</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="  f-z13 font-book">Engines</p>   
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Communications</p>   
                </div>
              </div>
              <div class="col-md-6">
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Beam</p>   
                  <span class="f-z13 m-2 font-book">30'9 Feet</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">A/C</p>   
                  <span class="f-z13 m-2 font-book">Full</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Hammock</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Saling</p>   
                  <span class="f-z13 m-2 font-book">ASA</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Hammock</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Instructions</p>   
                  <span class="f-z13 m-2 font-book">Off swing platform/Fly</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Guest Smoke</p>   
                  <span class="f-z13 m-2 font-book">bridge on</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Ice maker</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Max Speed</p>   
                  <span class="f-z13 m-2 font-book">11</span>
                </div>
              </div>

              <div class="col-md-3">
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Draft</p>   
                  <span class="f-z13 m-2 font-book">4'11 Feet</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">A/C Night</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Deckshower</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Hairdryer</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Children Allowed</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Voltages</p>   
                  <span class="f-z13 m-2 font-book">110vUS</span>
                </div>
                <div class=" bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Internet Access</p>   
                  <span class="f-z13 m-2 font-book">Yes</span>
                </div>
                <div class="bb d-flex justify-content-between">
                  <p class="f-z13 font-book">Cruising Speed</p>   
                  <span class="f-z13 m-2 font-book">8</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="f-z13 font-medium btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">     
                <span class="m-0 f-z13 d-flex justify-content-between"> ENTRETAINMENT 
                  <li class="fa fa-angle-down fa-2x"></li>
               </span>  
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionExample">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur accusamus perferendis ab cumque incidunt, vel tempora aspernatur, 
             amet velit ipsa ipsam ullam itaque commodi non impedit. Blanditiis iusto tempore distinctio?</p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- carousel of boats cards -->
    <app-carousel-boats></app-carousel-boats>
    
    
    <!-- testimonial seccion  -->
    <app-testimonial class="mt-5"></app-testimonial>
