<div class="container-fluid">
    
    <app-crew-profile></app-crew-profile>
    <section class="p-3 f-z13 font-book">
        <p>Sharing the love,Team Azulia
         <br> <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto assumenda minus iusto labore placeat, 
        aut accusantium nihil quo quos obcaecati hic quasi adipisci aliquam, recusandae similique atque nostrum libero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nobis vel nulla soluta possimus rerum cumque odit ab, 
        ipsum minima suscipit amet sit accusantium atque dolore architecto blanditiis necessitatibus corporis.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto assumenda minus iusto labore placeat, 
        aut accusantium nihil quo quos obcaecati hic quasi adipisci aliquam, recusandae similique atque nostrum libero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nobis vel nulla soluta possimus rerum cumque odit ab, 
        ipsum minima suscipit amet sit accusantium atque dolore architecto blanditiis necessitatibus corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto assumenda minus iusto labore placeat, 
        aut accusantium nihil quo quos obcaecati hic quasi adipisci aliquam, recusandae similique atque nostrum libero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto assumenda minus iusto labore placeat, 
        aut accusantium nihil quo quos obcaecati hic quasi adipisci aliquam, recusandae similique atque nostrum libero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nobis vel nulla soluta possimus rerum cumque odit ab, 
        ipsum minima suscipit amet sit accusantium atque dolore architecto blanditiis necessitatibus corporis.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto assumenda minus iusto labore placeat, 
        aut accusantium nihil quo quos obcaecati hic quasi adipisci aliquam, recusandae similique atque nostrum libero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nobis vel nulla soluta possimus rerum cumque odit ab, 
        ipsum minima suscipit amet sit accusantium atque dolore architecto blanditiis necessitatibus corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto assumenda minus iusto labore placeat, 
        aut accusantium nihil quo quos obcaecati hic quasi adipisci aliquam, recusandae similique atque nostrum libero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nobis vel nulla soluta possimus rerum cumque odit ab, 
        ipsum minima suscipit amet sit accusantium atque dolore architecto blanditiis necessitatibus corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto assumenda minus iusto labore placeat, 
        aut accusantium nihil quo quos obcaecati hic quasi adipisci aliquam, recusandae similique atque nostrum libero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    
        </p>
    </section>
    <app-testimonial></app-testimonial>

</div>
