
// colors
$primary-color:#bf7d71
$secondary-color:#c5c3c1
$dark-color:#000000
$white-color:#ffffff

// text colors
$title-text-color:#000000
$secondary-text-color:#a3a3a3
$selected-text-color:#bf7d71

// buttons
$buttons-colors:#ffffff

// back color
$backs-color:#ffffff



@font-face
  font-family: gothamrounded-book
  src: url('./assets/Typography/gothamrounded-book.otf') format('opentype')

@font-face
  font-family: gothamrounded-bookitalic
  src: url('./assets/Typography/gothamrounded-bookitalic.otf') format('opentype')

@font-face
  font-family: gothamrounded-medium
  src: url('./assets/Typography/gothamrounded-medium.otf') format('opentype')