<section class="mt-5 mb-5">
    <h2 class="font-book text-center title-why mt-5 f-z25">{{'plus-title' | translate |uppercase }}</h2>
    <h4 class="font-book text-center m-0 hastag" >#I<img class="m-0 p-0" src="../../../../../assets/Box/Added to favourite.png" width="25px" >MYCHARTERBROKER </h4>
    <div class="row d-flex justify-content-center   mt-5 ">
        <div class="col-md-6 gray-text-color    pt-3 pb-3 d-flex col-left">
            <ul class="list-group  ">
                <li class="f-z20 l-1 font-book"> {{'plus-cleft1' | translate }} </li>
                <li class="f-z20 l-2 font-book"> {{'plus-cleft2' | translate }} </li>
                <li class="f-z20 l-3 font-book"> {{'plus-cleft3' | translate }} </li>
                <li class="f-z20 l-4 font-book"> {{'plus-cleft4' | translate }} </li>
                <li class="f-z20 l-5 font-book"> {{'plus-cleft5' | translate }} </li>
            </ul>
        </div>
        <div class="col-md-6 pt-3 pb-3 col-right d-flex mb-3">
            <ul class="list-group">
                <li class="f-z20 l-6 font-book"> {{'plus-cright1' | translate }} </li>
                <li class="f-z20 l-7 font-book"> {{'plus-cright2' | translate }} </li>
                <li class="f-z20 l-8 font-book"> {{'plus-cright3' | translate }} </li>
                <li class="f-z20 l-9 font-book"> {{'plus-cright4' | translate }} </li>
                <li class="f-z20 l-10 font-book">{{'plus-cright5' | translate }} </li>
            </ul>
        </div>

        <button class="btn btn-read mt-3 f-z13 font-medium">{{'plus-rmore' | translate }}</button>

    </div>
</section>